.table{
    min-width: auto;
    & p {
      margin-bottom: 0;
    }
}

.table__col1 {
  width: 3rem;
}

.table__col2 {
  width: 8rem;
}

.table__col3 {
  width: 3rem;
}

.table__col4 {
  width: 14rem;
}

.table__col5 {
  width: 5rem;
}

.table__col6 {
  width: 5rem;
}

.table__col7 {
  width: 5rem;
}

.table__col8 {
  width: 7rem;
}
